/* Reset */
*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.panel {
  display: grid;
  grid-template-columns: minmax(0, 370px);
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}
/* Card */
.panel__card {
  background-color: #f7f7f7;
  border-radius: 2rem;
  padding: 2rem;
  height: fit-content;
  margin: 0 auto;
  width: 100%;
}
.panel__card .card__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1.5px solid #e6e6e6;
}
.panel__card .card__header .user__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user__portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}
.user--icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 12px;
}
.user__name {
  font-size: 1.6rem;
}
.user__number {
  font-size: 1.4rem;
  color: #888888;
}
.card__main {
  width: 100%;
  padding: 1rem 0;
}
.card__main ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  color: #130505;
  border-radius: 44px;
  font-size: 1.4rem;
}
.card__main ul li:last-child {
  margin-top: 4rem;
}
.card__main ul li span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card__main ul .selected {
  color: #fff;
  background-color: #2f0d0c;
}
.card__main ul li.message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  padding-right: 1.8rem;
}
.message .badge {
  align-self: flex-end;
}
/* Contents */
.content__header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 0.2rem solid #f6f6f6;
  padding-bottom: 1.5rem;
  position: relative;
}
.content__header span {
  position: absolute;
  right: 0rem;
}
.panel__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
}
.order__list ul {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 1.5rem;
  overflow: auto;
  overflow-x: scroll;
  padding-bottom: 2rem;
}
.order__list ul li {
  border: 1px solid #ebebeb;
  padding: 2rem 3rem;
  display: flex;
  gap: 1rem;
  border-radius: 1.6rem;
  flex: 0 0 auto;
}
.order__list ul li span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  align-items: flex-start;
  line-height: 2.55rem;
}
.order__list ul li .content__list--icon {
  align-items: center;
  width: 4rem;
  height: 4rem;
  justify-content: center;
}
.order__list--title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__list--title:first-child {
  font-size: 1.3rem;
  color: #494a48;
}
.order {
  font-size: 1.6rem;
}
.processing {
  background-color: #448cf91a;
}
.delivered {
  background-color: #1bac441a;
}
.returned {
  background-color: #1717171a;
}
.canceled {
  background-color: #e5303f1a;
}
.content__body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.order__item header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ebebeb;
}
.content__body .order__item {
  border: 1px solid #ebebeb;
  border-radius: 1.6rem;
  padding: 2rem;
}
.order__status {
  background-color: #448cf91a;
  padding: 0.6rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 4rem;
  gap: 1rem;
  font-size: 1.2rem;
  color: #2e7af1;
}
.order__status span {
  display: flex;
  align-items: center;
}
.order__status span img {
  width: 2.3rem;
}
.order__details {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  flex-direction: column;
}
.order__details .order__about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.order__about--titles {
  color: #606060;
}
.order__price {
  font-size: 2.4rem;
  font-weight: bold;
  align-self: flex-end;
}
.unit {
  font-size: 1.1rem;
  font-weight: 100;
}
.order__item main {
  margin-top: 1.6rem;
  padding: 1.6rem 1.3rem;
  border-radius: 1.6rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.order__item main ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.order__item main ul li {
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 1.2rem;
  margin-right: -15px;
  border: 0.6rem solid #f7f7f7;
}
.about__order {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  color: #cc312d;
  font-weight: 700;
}
.badge {
  display: none;
}
.badge {
  border: 0.5px solid #000;
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: #eae7e7;
  font-weight: 700;
}
.badge--primary {
  background-color: #cc312d;
  border-color: #cc312d;
  color: #fff;
}
.order__item main ul .badge {
  transform: translate(14px, 27px);
}
@media screen and (min-width: 768px) {
  .panel {
    grid-template-columns: 40fr 60fr;
  }
  .order__list ul {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
  }
  .content__header {
    display: none;
  }
  .order__details {
    flex-direction: row;
  }
}
@media screen and (min-width: 1150px) {
  .panel {
    grid-template-columns: 35fr 80fr;
  }
  .order__list ul {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
  }
  .order__details .order__about {
    flex-direction: row;
    align-items: center;
  }
}
