/* Reset */
*,
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.panel {
  display: grid;
  grid-template-columns: minmax(0, 400px);
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin: 0 auto;
}
/* Card */
.panel__card {
  background-color: #f7f7f7;
  border-radius: 2rem;
  padding: 2rem;
  height: fit-content;
  margin: 0 auto;
  width: 100%;
}
.panel__card .card__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1.5px solid #e6e6e6;
}
.panel__card .card__header .user__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user__portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}
.user--icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 12px;
}
.user__name {
  font-size: 1.6rem;
}
.user__number {
  font-size: 1.4rem;
  color: #888888;
}
.card__main {
  width: 100%;
  padding: 1rem 0;
}
.card__main ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  color: #130505;
  border-radius: 44px;
  font-size: 1.4rem;
}
.card__main ul li:last-child {
  margin-top: 4rem;
}
.card__main ul li span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card__main ul .selected {
  color: #fff;
  background-color: #2f0d0c;
}
.card__main ul li.message {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  padding-right: 1.8rem;
}
.message .badge {
  align-self: flex-end;
}

.content__header {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 0.2rem solid #f6f6f6;
  padding-bottom: 1.5rem;
  position: relative;
}
.content__header span {
  position: absolute;
  right: 0rem;
}
.panel__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  overflow: visible;
}
.order__list ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: auto;
  overflow-x: scroll;
  padding-bottom: 2rem;
}
.order__list ul li {
  border: 1px solid #ebebeb;
  padding: 2rem 3rem;
  display: flex;
  gap: 1rem;
  border-radius: 1.6rem;
  flex: 0 0 auto;
}
.order__list ul li span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  align-items: flex-start;
  line-height: 2.55rem;
}
.order__list ul li .content__list--icon {
  align-items: center;
  width: 5rem;
  height: 5rem;
  justify-content: center;
}
.order__list--title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order__list--title:first-child {
  font-size: 1.3rem;
  color: #494a48;
}
.order {
  font-size: 1.8rem;
}
.processing {
  background-color: #448cf91a;
}
.delivered {
  background-color: #1bac441a;
}
.returned {
  background-color: #1717171a;
}
.canceled {
  background-color: #e5303f1a;
}
